#userSettingsDiv {
    margin: 10px auto auto auto;
    width: 94%;
    background: #d06936f2;
    border: solid 5px var(--rev-secondary);
    border-radius: 15px;
    height: 100%;
    padding: 1% 3% 1% 3%;
}

#userProfileImg, #userDetailsDiv {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 45%;
    height: 96%;
}

#userProfileImg, #userDetailsDiv {
    float: right;
}

#userProfileImg {
    float: left;
}

.form {
    margin: 0;
}

#profileImg {
    margin: auto 10% 10% 10%;
    width: 80%;
    height: 50%;
    border: solid 5px var(--rev-secondary);
}

.divUserButton {
    margin: 3% 5% auto 5%;
    width: 90%;
}

.buttonUserSettings {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}