<div id="userSettingsDiv">
    <div class="divUserSettings" id="userProfilePicDiv">
        <img id="profileImg" src="images/spheal.png" alt="Your profile picture" width="100" height="100">
        <label class="labelUserSettings" id="imgUrlLabel" for="imgUrlText">Image URL:</label>
        <input class="textUserSettings" id="imgUrlText" type="text" placeholder="images/spheal.png">
    </div>
    <div class="divUserSettings" id="userDetailsDiv">
        <div class="divUserDetails" id="usernameDiv">
            <label class="labelUserSettings" id="usernameLabel" for="usernameText">Username:</label>
            <input class="textUserSettings" id="usernameText" type="text" placeholder="Anonymous">
        </div>
        <div class="divUserDetails" id="emailDiv">
            <label class="labelUserSettings" id="emailLabel" for="emailText">Email:</label>
            <input class="textUserSettings" id="emailText" type="text" placeholder="anon@gmail.com">
        </div>
        <div class="divUserDetails" id="fNameDiv">
            <label class="labelUserSettings" id="fNameLabel" for="fNameText">First Name:</label>
            <input class="textUserSettings" id="fNameText" type="text" placeholder="Anony">
        </div>
        <div class="divUserDetails" id="lNameDiv">
            <label class="labelUserSettings" id="lNameLabel" for="lNameText">Last Name:</label>
            <input class="textUserSettings" id="lNameText" type="text" placeholder="Mous">
        </div>
        <div class="divUserDetails" id="passwordDiv">
            <label class="labelUserSettings" id="newPWLabel" for="newPWText">New Password:</label>
            <input class="textUserSettings" id="newPWText" type="password">
            <label class="labelUserSettings" id="confirmPWLabel" for="newPWText">Confirm Password:</label>
            <input class="textUserSettings" id="confirmPWText" type="password">
        </div>
    </div>
    <div id="userUpdateDiv">
        <button id="userUpdateBtn" type="submit">Update</button>
    </div>
</div>
