#userSettingsDiv {
    margin: auto;
    width: 375px;
    background: #0094ff25;
    border: solid 5px #04167c;
    border-radius: 15px;
}

.divUserSettings {
    width: 350px;
    padding-right: 12.5px;
    padding-left: 12.5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#userProfilePicDiv {
    height: 275px;
}

#profileImg {
    margin: auto;
    width: 200px;
    height: 200px;
    border: solid 5px #000000;
    border-radius: 210px;
    margin-left: 70px;
    margin-right: 70px;
}

#lNameDiv, #userUpdateImgDiv{
    margin-bottom: 10px;
}

#passwordDiv, #usernameDiv {
    border-top: solid 5px #000000;
}

.labelUserSettings {
    float: left;
    margin-top: 10px;
}

.textUserSettings {
    width: 292px;
    margin-right: 25px;
    margin-left: 25px;
}

.divUserButton {
    width: 350px;
    margin-top: 12.5px;
    margin-bottom: 10px;
}

.buttonUserSettings {
    width: 300px;
    margin-right: 25px;
    margin-left: 25px;
}