<p>
    <mat-toolbar class="spheal" class="spheal">
        <span [routerLink]="['/post-feed']">Revature Social Media</span>
        <button [routerLink]="['/search']">search users</button>
        <span class="spacer"></span>
        <mat-checkbox id="dmToggle" [checked]="checkedStatus" (change)="onChange($event)"> Dark Mode </mat-checkbox>
        <div id="navLoginDiv">
            <div class="navLogBtn">
                <button mat-button (click)="login();">Login</button>
            </div>
        </div>
        <div id="navUserDiv">
            <div class="navLogBtn">
                <button mat-button (click)="logout();">Logout</button>
            </div>
            <div class="nav-user-img" id="navProfileDiv" [routerLink]="['/user-settings']"></div>
            <div id="navUsernameDiv"></div>
        </div>
    </mat-toolbar>
</p>