<div class="searchContainer">
    <mat-form-field appearance="fill" class="searchInp">
        <mat-label>Enter a name</mat-label>
        <input matInput [(ngModel)]="input" (keydown.enter)="getUsers()">
    </mat-form-field>
</div>
<div class="listContainer" ng-controller="info">
    <ul class="Users">
        <li *ngFor="let user of users">
            <mat-card>

                <mat-card-header>
                    <img mat-card-avatar src={{user.profileImg}}>
                    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
                </mat-card-header>

                <mat-card-actions align="end">
                    <button [routerLink]="['/user-settings']" mat-button>Go to Profile</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </li>
    </ul>
</div>
