<app-navbar></app-navbar>

<!-- check if have to pass in usersPage variable-->
<!-- check if have to pass in usersPageId variable-->
<div [ngClass]="['sidebyside', 'profile-container']">

  <section id="profile-header" class="full-width" appearance="fill">
    <div id="prof-img">
      <div class="user-circle" id="user-circle"></div>
    </div>
    <div id="prof-info">
      <article id="username"></article>
      <article id="fullName"></article>
      <article id="postCount"></article>
      <article id="followerCount"></article>
      <article id="followingCount"></article>
    </div>
    <div id="edit-follow" *ngIf="!usersPage; else editTemplate">
      <!-- add onlick func to follow -->
      <button mat-raised-button id="follow">Follow</button>
    </div>
  </section>

  <ng-template #editTemplate>
    <div align="end">
      <!-- route to user-settings page -->
        <button mat-raised-button color="warn" [routerLink]="['/user-settings']">Edit</button>
    </div>
  </ng-template>

  <div id="prof-post-feed" *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
  </div>
  
</div>