<div class="post-card">
    <mat-card>
        <mat-card-header class="post-header">
            <div mat-card-avatar class="header-image" *ngIf="post.author.profileImg" style="background-image: URL('{{post.author.profileImg}}')"></div>
            <mat-card-title class="post-author">{{post.author.username}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image *ngIf="post.imageUrl" src="{{ post.imageUrl }}" alt="Post Image">
        <mat-card-content>
            <p class="post-content commentBlock">
                {{post.text}}
            </p>
            <p style="font-weight:500;font-size:1.2rem;margin:1em;">
                <span style="margin-left:-15px;margin-top:1em;margin-bottom:1.5em;display:block;opacity:0.8;">Comments</span>
            </p>
            <div *ngFor="let comment of post.comments" class="comment-container">
                <mat-divider class="comment-divider"></mat-divider>
                <app-comment [comment]="comment"></app-comment>
            </div>
        </mat-card-content>
        <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleReplyToPost()">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Post</button>
            </div>
        </form>
        <mat-card-actions align="end">

            <button id="hbutton" mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
            <button id="likeBtn-{{post.id}}" class="btnIcon" mat-icon-button color="primary" (click)="like()" matBadge="{{likeCount}}" matBadgePosition="after" matBadgeColor="accent">
                <mat-icon>thumb_up</mat-icon>
          </button>
        </mat-card-actions>

    </mat-card>
</div>